@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Poppins', sans-serif;

}

.contact{
    max-width: 1300px;
    margin: auto;
    margin-left: 25px;
    margin-top: 25px;
}

.filter {
    position: fixed;
    top: 0;
    left: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 4px 0 hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.filter.active{
    left: 0;
}
.filter_type.version_2 {
    list-style-type: none;
}
dl, ol, ul {
 
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
}
.container_check {
    display: block;
    position: relative;
    padding-left: 30px;
    line-height: 1.7;
    margin-bottom: 8px;
    opacity: 0.8;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"] {
    float: inline-end;
}
a {
    color: black;
    font-size: larger;
    text-decoration: none;
}
.contacts {
    padding: 10px;
    margin-top: 11px;
}
#filter_1{
    margin-top: 10px;
}
.btn_1_1{
    border: 0 solid black;
    padding: 7px;
    background: #004dda;
    color: white;
    border-radius: 2px;
    margin-right: 26px;
}
.btn_1{
    border: 0 solid black;
    padding: 7px;
    background: #004dda;
    color: white;
    border-radius: 2px;
    margin-right: 26px;
}
.btn_1_1:hover{
    background: #FFC107;
    color: #111 !important;
}
.btn_1:hover{
    background: #FFC107;
    color: #111 !important;
}
.buttons {
    margin-top: 50px;
    text-align: center;
}
i.fa-solid.fa-x {
    top: 9px;
    position: absolute;
    right: 9px;
    font-size: 23px;
}